/* global.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F6FF;
}

/* login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    width: 70%;
    max-width: 1200px;
    background-color: #F0F6FF;
    border-radius: 10px;
    overflow: hidden;
}

.login-left-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right-section {
    flex: 1;
    background-color: #f4f8fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);

}

.login-right-section img {
    max-width: 100%;
    height: auto;
}

.login-form h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333333;
}

.login-form p {
    font-size: 14px;
    margin-bottom: 2rem;
    color: #666666;
}

.login-form-group {
    margin-bottom: 1rem;
}

.login-form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333333;
}

.login-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.login-button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.login-remember-me-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 5px;
}

.login-remember-me-container input[type="checkbox"] {
    margin: 0;
    width: auto;
}

.login-remember-me-container label {
    margin: 0;
    line-height: 1;
    font-size: 13px;
}

.login-button {
    background-color: #2B3A8E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 79.5%;
    margin-top: -15px;
}

.login-button:hover {
    background-color: #155bb5;
}

.login-forget-password-link {
    text-decoration: none;
    color: #2B3A8E;
    font-size: 0.8rem;
    margin-top: -6px;
    margin-right: 100px;
}

.login-forget-password-link:hover {
    text-decoration: underline;
}

.login-signup {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #666666;
}

.login-signup .login-sign-up-link {
    text-decoration: none;
    color: #2B3A8E;
    font-size: 0.85rem;
}

.login-signup .login-sign-up-link:hover {
    text-decoration: underline;
}

.login-form img {
    height: 11%;
}

/* sign-up.css */

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up-wrapper {
    display: flex;
    width: 70%;
    max-width: 1200px;
    background-color: #F0F6FF;
    border-radius: 10px;
    overflow: hidden;
}

.sign-up-form h1 {
    font-size: 1.5rem;
    margin-bottom: -10px;
    color: #333333;
}

.sign-up-form p {
    font-size: 15px;
    margin-bottom: 13px;
    color: #666666;
}

.sign-up-form img {
    height: 60px;
    margin-left: 290px;
}

.sign-up-row {
    display: flex;
    gap: 2rem;
    margin-bottom: 5px;
}

.sign-up-form-group {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-up-privacy-policy-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-up-privacy-policy-container input[type="checkbox"] {
    width: auto;
}

.sign-up-privacy-policy-container label {
    margin: 0;
    line-height: 1;
    font-size: 14px;
}

.sign-up-terms-link {
    color: #2B3A8E;
    text-decoration: none;
}

.sign-up-terms-link:hover {
    text-decoration: underline;
}

.sign-up-create-account-button {
    background-color: #2B3A8E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 104.5%;
    box-sizing: border-box;
}

.sign-up-create-account-button:hover {
    background-color: #155bb5;
}

.sign-up-left-section img {
    transform: scale(0.55);
}

.sign-up-left-section {
    background-color: #F0F6FF;
}

.sign-up-right-section {
    transform: scale(0.9);
    flex: 1;
    background-color: #F0F6FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.sign-up {
    margin-top: 8px;
    font-size: 15px;
}

.sign-up .sign-up-link {
    text-decoration: none;
    color: #273c75;
}

.sign-up .sign-up-link:hover {
    text-decoration: underline;
}

/* forgot-password.css */

.forgot-password-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eaf4ff;
}

.forgot-password-left-section {
    flex: 1;
    padding: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 250px;
}

.forgot-password-left-section .logo {
    height: 50px;
    margin-bottom: 30px;
}

.forgot-password-back-to-login {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
}

.forgot-password-back-to-login:hover {
    text-decoration: underline;
}

.forgot-password-left-section h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.forgot-password-left-section p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
    margin-right: 150px;
}

.forgot-password-left-section .form-group {
    width: 100%;
    margin-bottom: 20px;
}

.forgot-password-left-section label {
    display: block;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.forgot-password-left-section input {
    width: 200%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password-left-section .submit-button {
    background-color: #2B3A8E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 211%;
}

.forgot-password-left-section .submit-button:hover {
    background-color: #155bb5;
}

.forgot-password-right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.forgot-password-right-section img {
    width: 60%;
    max-width: 400px;
    margin-right: 250px;
}

/* verify-code.css */

.verify-code-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eaf4ff;
}

.verify-code-left-section {
    flex: 1;
    padding: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 250px;
}

.verify-code-left-section .logo {
    height: 50px;
    margin-bottom: 20px;
}

.verify-code-back-to-login {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
}

.verify-code-back-to-login:hover {
    text-decoration: underline;
}

.verify-code-left-section h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.verify-code-left-section p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
}

.verify-code-left-section .form-group {
    width: 100%;
    margin-bottom: 20px;
}

.verify-code-left-section label {
    display: block;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.verify-code-left-section .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    overflow: hidden;
    width: 173%;
}

.verify-code-left-section input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 14px;
}

.verify-code-left-section .resend-container {
    margin-bottom: 20px;
}

.verify-code-left-section .resend-link {
    color: #2B3A8E;
    text-decoration: none;
    font-weight: bold;
}

.verify-code-left-section .resend-link:hover {
    text-decoration: underline;
}

.verify-code-left-section .verify-button {
    background-color: #2B3A8E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 173.5%;
}

.verify-code-left-section .verify-button:hover {
    background-color: #155bb5;
}

.verify-code-right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.verify-code-right-section img {
    width: 60%;
    max-width: 400px;
    margin-right: 300px;
}

/* set-password.js */

.set-password-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #eaf4ff;
}

.set-password-left-section {
    flex: 1;
    padding: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 200px;
}

.set-password-left-section .logo {
    height: 50px;
    margin-bottom: 20px;
}

.set-password-back-to-login {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
    margin-top: 25px;
}

.set-password-back-to-login:hover {
    text-decoration: underline;
}

.set-password-left-section h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 10px;
}

.set-password-left-section p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 30px;
    margin-right: 250px;
}

.set-password-left-section .form-group {
    width: 100%;
    margin-bottom: 20px;
}

.set-password-left-section label {
    display: block;
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.set-password-left-section .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    overflow: hidden;
    width: 205%;
}

.set-password-left-section input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 14px;
}

.set-password-left-section .toggle-visibility {
    background-color: #ffffff;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
}

.set-password-left-section .set-password-button {
    background-color: #2B3A8E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 206%;
}

.set-password-left-section .set-password-button:hover {
    background-color: #155bb5;
}

.set-password-right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
}

.set-password-right-section img {
    width: 55%;
    max-width: 400px;
    margin-right: 250px;
}

/* dashboard.css */

.dashboard-container {
    display: flex;
    height: 150vh;
    background-color: #F0F6FF;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 14%;
    width: auto;
    box-sizing: border-box;
}


.dashboard-overview {
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.stats-summary {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 350px;
    width: 435px;
    margin-left: -5px;
    margin-top: 10px;
}

.stat-card {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.stat-card .stat-icon {
    font-size: 20px;
    color: #2B3A8E;
    background-color: #eff0f1;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}


.stat-card .stat-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.stat-card .stat-text span {
    font-size: 12px;
    color: #777;
}

.stat-card .stat-text h3 {
    font-size: 20px;
    margin: 0;
    color: #2B3A8E;
}

/* product-log-pie-chart.css */

.product-log-chart-card {
    padding: 20px;
    border-radius: 10px;
    margin-top: -19px;
    margin-left: -5px;
    width: 397px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* order-performance-line-chart.css */

.order-performance-line-chart-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    width: 490px;
    margin-left: -200px;
    margin-top: -18px;
}

.order-performance-line-chart-title {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.order-performance-line-chart-wrapper {
    height: 309px;
}


/* orders-pie-chart.css */

.orders-pie-chart-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    width: 490px;
    margin-top: 10px;
    margin-left: -200px;
}

.orders-pie-chart-title {
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.orders-pie-chart-wrapper {
    height: 270px;
}


/* side-nav.css  */

.sidebar {
    width: 150px;
    height: 100vh;
    background-color: #ffffff;
    color: #2B3A8E;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 9%;
    left: 0;
    font-family: Arial, sans-serif;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: #273c75;
}

.menu-item:hover {
    background-color: #e8f0fe;
    color: #2B3A8E;
}

.menu-item.active {
    background-color: #e8f0fe;
    color: #2B3A8E;
    text-decoration: none;
}

.menu-item .side-nav-icons {
    font-size: 20px;
}

.menu-item span {
    font-size: 16px;
    font-weight: 500;
}

/* header.css */

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 98.5%;
    z-index: 100;
}

.header-left .header-logo {
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}

.notification-icon {
    position: relative;
    font-size: 25px;
    margin-top: 10px;
}

.bell-icon {
    font-size: 18px;
    color: #444;
}

.notification-icon::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.user-name {
    font-weight: 500;
    font-size: 14px;
}

.user-location {
    font-size: 12px;
    color: gray;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 12px;
    background-color: #f9f9f9;
}

.search-icon {
    font-size: 20px;
    color: #999;
    margin-right: 8px;
    margin-top: 5px;
}

.search-bar {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: transparent;
}

/* user-profile-modal.css */

.user-profile-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    position: relative;
    z-index: 1;
    transform: scale(0.8);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    color: #2B3A8E;
    width: 9.5%;
    padding: 5px;
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-upload-label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2B3A8E;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.avatar-upload-input {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.save-button {
    background-color: #2B3A8E;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 40%;
    margin-top: 1px;
    margin-right: -5px;
}

/* user.css */

.users-page {
    padding: 20px;
    padding-top: 50px;
}

.users-page h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a4a4a;
}

.add-user-button {
    background-color: #273c75;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    width: 12%;
    margin-left: 88%;
}

.add-user-button:hover {
    background-color: #357abd;
}

.users-table-container {
    margin-left: -5.5%;
    margin-top: -2%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.users-table thead {
    background-color: #273c75;
    color: #ffffff;
}

.users-table th,
.users-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.users-table tbody tr td:last-child {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.users-table tbody tr:hover {
    background-color: #f4f6f9;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.edit-button {
    color: #273c75;
}

.delete-button {
    color: #273c75;
}

.action-button:hover {
    transform: scale(1.1);
    background-color: transparent;
}

/* add-user-modal.css */

.add-user-modal .add-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.add-user-modal .add-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    z-index: 1001;
}

.add-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-modal-header h3 {
    margin: 0;
}

.add-modal-header .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.add-modal-body .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.add-modal-body input,
.add-modal-body select {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-modal-body select {
    width: 100%;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.add-user-modal-button {
    background: #273c75;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.cancel-button {
    background: #273c75;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}

/* edit-user-modal.css */

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.edit-modal-content {
    background-color: #ffffff;
    width: 50%;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit-modal-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 8px;
}

.edit-modal-content p {
    font-size: 0.875rem;
    color: #7f8c8d;
    margin-bottom: 16px;
}

.edit-form-row {
    display: flex;
    gap: 16px;
}

.edit-modal-content input,
.edit-modal-content select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    font-size: 0.875rem;
    color: #34495e;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

.edit-modal-content input:focus,
.edit-modal-content select:focus {
    border-color: #3498db;
}

.modal-content select {
    appearance: none;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjNzY3Njc2IiBkPSJNNS41OTggNy42NjhsMi40MDMtMi4zMDQgMi40MDMgMi4zMDQtMS4yMDMgMS4yMzRMOC4wMDAgOC4zNjQgNi42MDEgOS4wNTIgNS40MDQgOC4zNjRsLTEuMjAzLTEuMjM2eiIvPjwvc3ZnPg==") no-repeat right 12px center;
    background-color: white;
}

.edit-modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 16px;
}

.btn-save {
    padding: 10px 24px;
    background-color: #273c75;
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-save:hover {
    background-color: #2980b9;
}

.btn-cancel {
    padding: 10px 24px;
    background-color: #273c75;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.btn-cancel:hover {
    color: #34495e;
    border-color: #b2bec3;
}

/* cost.css */

.cost-content-container {
    padding: 20px;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.cost-content-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #1a202c;
    margin-bottom: 10px;
}

.cost-date {
    font-size: 14px;
    color: #718096;
    margin-bottom: 20px;
}

.cost-content-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cost-stats-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cost-stat-card {
    background: white;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cost-stat-card h3 {
    font-size: 14px;
    margin-top: -10px;
    color: #4a5568;
}

.cost-value {
    margin-bottom: -5px;
    margin-top: -8px;
    font-size: 25px;
    font-weight: bold;
    color: #1a202c;
    display: flex;
    align-items: center;
    gap: 8px;
}

.cost-change {
    font-size: 14px;
}

.cost-change.up {
    color: #38a169;
}

.cost-change.down {
    color: #e53e3e;
}

.cost-details {
    margin-bottom: -5px;
    font-size: 13px;
    color: #718096;
}

/* production-donut-chart.css */

.production-donut-chart-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 240px;
    text-align: left;
    font-family: Arial, sans-serif;
    margin-top: -10px;
}

.production-donut-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.production-donut-chart-header h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.production-donut-chart-filter-button {
    background-color: #f4f6f9;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 12px;
    color: #555;
    cursor: pointer;
}

.production-donut-chart-content {
    position: relative;
}

.production-donut-chart-legend {
    margin-top: 20px;
}

.production-donut-chart-legend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.production-donut-chart-legend-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.production-donut-chart-legend-item span {
    font-size: 14px;
    color: #333;
}

.production-donut-chart-percentage {
    font-weight: bold;
}

.production-donut-chart-arrow-up {
    color: #28a745;
    font-size: 12px;
    margin-left: 4px;
}

.production-donut-chart-arrow-down {
    color: #dc3545;
    font-size: 12px;
    margin-left: 4px;
}

.cost-chart-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.cost-report-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cost-filter-section {
    margin-top: -55px;
    margin-left: 600px;
    display: flex;
    gap: 10px;
}

.cost-filter-section select,
.cost-filter-section input {
    padding: 8px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
}

.cost-check-button {
    padding: 8px 16px;
    background-color: #2B3A8E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cost-check-button:hover {
    background-color: #2b6cb0;
}

.cost-customer-status {
    background: white;
    height: 271px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cost-customer-status h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cost-customer-status table {
    width: 100%;
    border-collapse: collapse;
}

.cost-customer-status th,
.cost-customer-status td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e2e8f0;
}

.cost-customer-status th {
    background-color: #f7fafc;
    font-size: 14px;
}

.cost-customer-status td {
    font-size: 14px;
    color: #4a5568;
}

.cost-status {
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
}

.cost-status.completed {
    background-color: #38a169;
}

.cost-status.pending {
    background-color: #e53e3e;
}

.cost-details-button {
    padding: 5px 10px;
    background-color: #2B3A8E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cost-details-button:hover {
    background-color: #2b6cb0;
}

.cost-earning-summary {
    margin-left: -42px;
    margin-top: -40px;
    border-radius: 8px;
    padding: 15px;
}

.cost-earning-summary h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cost-earning-summary .cost-chart-image {
    width: 104.5%;
    border-radius: 5px;
}

/* notification-modal.css */

.notification-modal-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 200;
    animation: slideDown 0.3s ease-out;
}

.notification-modal {
    width: 320px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    font-family: Arial, sans-serif;
}

.notification-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.notification-header {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.close-notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #2B3A8E;
}

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.notification-item:hover {
    background-color: #f9f9f9;
}

.notification-content {
    flex-grow: 1;
}

.notification-content p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.notification-date {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.dismiss-notification-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #2B3A8E;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
}

.dismiss-notification-btn:hover {
    background-color: #f0f0f0;
}

.no-notifications {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 20px;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* garment-more.css */

.garment-more-page {
    padding: 20px;
    padding-top: 50px;
}

.garment-tables-container {
    display: flex;
    gap: 20px;
}

.garment-table-column {
    flex: 1;
}

.add-garment-machine-button {
    background-color: #273c75;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-left: 80%;
}

.add-garment-machine-button:hover {
    background-color: #357abd;
}

.garment-machine-table-container {
    margin-left: -5.5%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
}

.garment-machine-table-container h3 {
    margin-top: -5px;
}

.garment-machine-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
}

.garment-machine-table thead {
    background-color: #273c75;
    color: #ffffff;
}

.garment-machine-table th,
.garment-machine-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.garment-machine-table tbody tr td:last-child {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.garment-machine-table tbody tr:hover {
    background-color: #f4f6f9;
}

.garment-machine-action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.garment-machine-edit-button {
    color: #273c75;
}

.garment-machine-delete-button {
    color: #273c75;
}

.garment-machine-action-button:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.add-garment-inventory-button {
    background-color: #273c75;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-left: 80%;
}

.add-garment-inventory-button:hover {
    background-color: #357abd;
}

.garment-inventory-table-container {
    margin-left: -5.5%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(0.9);
}

.garment-inventory-table-container h3 {
    margin-top: -5px;
}

.garment-inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
}

.garment-inventory-table thead {
    background-color: #273c75;
    color: #ffffff;
}

.garment-inventory-table th,
.garment-inventory-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.garment-inventory-table tbody tr td:last-child {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.garment-inventory-table tbody tr:hover {
    background-color: #f4f6f9;
}

.garment-inventory-action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.garment-inventory-edit-button {
    color: #273c75;
}

.garment-inventory-delete-button {
    color: #273c75;
}

.garment-inventory-action-button:hover {
    transform: scale(1.1);
    background-color: transparent;
}

/* date-modal.css */

.date-input-container {
    position: relative;
}

.date-input-container input {
    width: 93%;
    padding: 10px;
    font-size: 16px;
}

.date-input-container .date-placeholder {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #aaa;
    pointer-events: none;
    transition: 0.2s ease all;
}

.date-input-container input:focus+.date-placeholder,
.date-input-container input:not(:placeholder-shown)+.date-placeholder {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #555;
}